.quality {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  @include breakpoint(max-width 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  h2 {
    padding: 55px 0;
    margin: 0;
    width: 100%;
    font-weight: 300;
    color: #FFFF1B;
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    @include breakpoint(max-width 740px) {
      font-size: 28px;
      line-height: 36px;
      padding-bottom: 8px;
      padding-top: 30px;
    }
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(max-width 740px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__block {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(128,130,139,0.2);
    width: calc(33.33% - 3px);
    margin: 1px;
    padding: 30px 17px 0;
    &:nth-of-type(1),
    &:nth-of-type(2) {
      width: calc(50% - 3.5px);
      @include breakpoint(max-width 1023px) {
        width: 100%;
      }
      @include breakpoint(max-width 740px) {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        width: 272px;
        padding: 24px 20px;
      }
      img {
        width: 135px;
        height: auto;
        @include breakpoint(max-width 1023px) {
          flex-grow: 1;
          width: 100%;
          max-width: 95px;
          max-height: 100px;
        }
      }
    }
    @include breakpoint(max-width 1023px) {
      padding: 25px 49px;
      width: 100%;
      height: 152px;
    }
    @include breakpoint(max-width 740px) {
      flex-direction: column;
      height: auto;
      align-items: flex-start;
      width: 272px;
      padding: 24px 20px;
      margin: 0;
      margin-bottom: 8px;
    }
    img {
      flex-shrink: 0;
      height: 80px;
      object-fit: scale-down;
      order: 2;
      @include breakpoint(max-width 1023px) {
        flex-grow: 1;
      }
      @include breakpoint(max-width 740px) {
        order: 1;
        flex-grow: inherit;
        height: auto;
        object-fit: contain;
        max-width: 95px;
        max-height: 100px;
      }
    }

    &--text {
      flex-grow: 1;
      order: 1;
      @include breakpoint(max-width 1023px) {
        padding-right: 23px;
        width: calc(100% - 135px);
        flex-grow: inherit;
      }
      @include breakpoint(max-width 740px) {
        width: 100%;
        padding-right: 0;
      }
      h3 {
        font-size: 24px;
        color: #37383E;
        margin: 0;
        font-weight: 400;
      }
      p {
        color: #37383E;
      }
    }
  }
}