.container {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container {
    @extend %clearfix;
}

@media (min-width: 320px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

