.container {
    box-sizing: border-box;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
}
.container {
    @extend %clearfix;
}
@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}